/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Wildcard Styles */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box
}

/* Generic Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    /* Generic Project Styles */
    color: #3a3a3a;
}

/* Header Styles */
header {
    background-color: #ffffff;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #252525;
}

#menu {
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 110%;
    color: #494949;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #494949;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    right: 0px;
}

/* Main Content Styles */
main {
    flex: 1 0 auto;
    margin-top: 47px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
}

/* Footer Styles */
#social-networks {
    text-align:center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    }

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        color: #3a3a3a
    }


/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }
}

/* Large devices, laptops and desktops (992px and abvove) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #494949;
    }
}